button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover{
    cursor: pointer;
}

.wrapper {
    background-color: #0e0036;
    border-radius: 1em;
    padding: 1em;
}

.display {
    height: 1em;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size: 3em;
}

.purple {
    background-color: #412973
}

.number {
    background-color: #4c264b
}

.pink {
    background-color: #9c325c
}
